body{
    font-family: "Roboto";
}
.header{
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.logo{
    width: 44px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
.header-logo-two{
    width: 71px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-menu{
    width: 48px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    list-style-type: none;
    display: flex;
    list-style: none;
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
    
        position: absolute;
        width: 261px;
        height: 24px;
        left: 347px;
        top: 24px;
}
.address{
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style: none;
}
ul{
    display: flex;
    list-style: none;
}
.section-one{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}
.section-one-text{
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section-two{
    position: absolute;
        width: 1128px;
        height: 104px;
        left: 156px;
        top: 792px;
}
.section-two-text{
    width: 264px;
        height: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.section-two-p{
    width: 264px;
        height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.section-three{
    position: absolute;
        width: 1128px;
        height: 412px;
        left: 156px;
        top: 1016px;
}
.section-three-text{
    position: absolute;
        width: 323px;
        height: 40px;
        left: 559px;
        top: 1016px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.section-three-img{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 360px;
        height: 300px;
        left: 156px;
        top: 1128px;
}
.section-four{
    position: absolute;
        width: 1440px;
        height: 732px;
        left: 0px;
        top: 1548px;
        background: #F4F4FD;
}
.footer{
    position: absolute;
        width: 1440px;
        height: 310px;
        left: 0px;
        top: 2280px;
        background: #2E2F42;
}